
img{
    max-width: 100%;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-sarif;
}

#contact_header{
    display:grid;
     margin-bottom: 60px;
    .dash{
        display:grid;
       place-content: center;
       grid-template-columns: 1fr 1fr 1fr;
       margin-top: 30px;
       gap:30px;

       img{
        height:30px;
        width:30px;
       }

    }
}



    #name{
        display:grid;
        width:10px;
        gap:10px;
        place-items: center;
        margin-top: 40px;
        margin-bottom: 30px;
        margin-left: 100px;
      font-size: large;
        
      #butt{
        display:grid;
        padding:20px 100px;
        text-align: right;
        border:bold;
        border-radius: 20px;
      }
      #email{
        display:grid;
        padding:20px 100px;
        border:bold;
        border-radius: 20px;
      }

      #tel{
        display:grid;
        padding:20px 100px;
        border:bold;
        border-radius: 20px;
      }
    }



@media only screen and (min-width:720px){

    #map{
        display:grid;
        place-items: center;
    }

    #contact_header{
        display:grid;
        margin-left: 60px;
        gap:60px;
    }

    #name{
        display:grid;
       margin-left: 290px;
        #butt{
            display:grid;
            padding:20px 120px;

        }
        #email{
            display:grid;
            padding:20px 120px;
            border:bold;
            border-radius: 20px;
          }
          #tel{
            display:grid;
            padding:20px 130px;
            border:bold;
            border-radius: 20px;
          }

    }
}




#contact_footer{
    display:grid;
    background-color: lightblue;

    .serve{
        display:grid;
        margin-bottom: 60px;
        background-color: purple;
        padding: 20px 0px;
        

        h1{
        font-style:italic;
        color:white;
        
        }

        p{
            margin-left: 30px;
            color:yellow;
            font-size: large;
        }
    }

    img{
        height:20px;
        width:20px;
    }

    .contactme{
        display:grid;
        place-items: center;
        

        #us{
            font-size: large;
            margin-bottom: 10px;
        }

        p{
            margin:5px;
            font-size: large;
        }
    }

    #contact_media{
        display:grid;
        margin-bottom: 50px;
        margin-top: 80px;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        background-color: white;
        padding:20px 0px;
        
    }

    #go{
        display:grid;
        place-items: center;
        margin-bottom: 40px;
    }

    #map{
        margin: 10px;
        place-self: center;
    }

}




@media only screen and (min-width:1020px){

 #map{
    place-items: center;
 }

  #contact_footer{
    display:grid;
    .serve{
        display:grid;
       
    }
  }

 #contact_media{
    display:grid;
    place-items: center;
    
 }

 #name{
    display:grid;
    margin-left: 650px;
 }

}